<div>
    <h1>Expédition de votre commande</h1>

    <p>Bonjour {{ user.firstname }}, </p>

    <p>
        Votre commande n° {{ order.id }} a bien été expédiée ! Elle vous sera livrée sous peu par Colissimo, restez à
        l'affut devant votre boite aux lettres.
    </p>

    <p>Bonne lecture et à bientôt</p>
    <p>R. Oncedor</p>

    <p>
        Un soucis, une question ? Vous pouvez envoyer un message grâce au <a
            href="https://dev-r-oncedor.fr/contact/">Formulaire de contact du site</a>
    </p>

    <a href="https://dev-r-oncedor.fr/">Site R. Oncedor</a>

</div>