<div>
    <h1>Confirmation de votre commande</h1>

    <p>Bonjour {{ app.user.firstname }}, </p>

    <p>Merci pour votre commande n° {{ order.id }} sur le site R. Oncedor !</p>

    <p>Comme il s'agit d'une précommande, vous devrez probablement attendre un peu avant de recevoir votre commande.
        Vous recevrez un nouveau mail lorsque celle-ci aura été expédiée. Vous pouvez également vérifier son statut en
        vous connectant à votre espace sur le site.
    </p>

    <p>A bientôt</p>
    <p>R. Oncedor</p>

    <p>
        Un soucis, une question ? Vous pouvez envoyer un message grâce au <a
            href="https://dev-r-oncedor.fr/contact/">Formulaire de contact du site</a>
    </p>

    <a href="https://dev-r-oncedor.fr/">Site R. Oncedor</a>
</div>