@charset 'UTF-8';

.footer {
  background-color: $color_dark_hf;
  padding: 1rem;
  font-family: $font-montserrat;
  font-size: 0.8em;
  width: 100%;
  display: flex;
  flex-direction: column;  

  @include min-xs {
    align-items: center;
  }
  
  .footer_menu {
    display: flex;
    list-style-type: none;
    margin-bottom: 1rem;

    @include xs {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    & > li {
      padding: 0 .5rem;

      @include xs {
        margin-bottom: .5rem;
      }
    }
  }
}

.footer_copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > img {
    max-width: 12rem;
    height: auto;
    padding: .5rem;
  }

  & > p {
    text-align: center;
    padding: 0.5rem;
  }
}