@charset 'UTF-8';

/* * FORMS * */

.form_block {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include min-md {
        width: 50%;
    }
}

form {
    width: 80%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    & > label {
        text-align: left;
        padding: 1rem;
    }

    & > input {
        margin-bottom: .5rem;
        padding: .5rem;
    }

    & > textarea {
        margin-bottom: 1rem;
    }

    & > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        & > label {
            padding: 1rem 0;
        }
    
        & > input {
            width: 100%;
            margin-bottom: .5rem;
            padding: .5rem;

            @include xs {
                width: 90%;
            }

            @include max-sm {
                width: 90%;
            }
        }
    
        & > textarea {
            margin-bottom: 1rem;
        }
    }

    li{
        list-style-type: none;
        color: rgb(163, 64, 64);
        font-style: italic;
    }
}

