@charset 'UTF-8';

// Specific CSS for homepage


.home_body {
    height: 100vh;
}

.home_main {
    height: 75%;

    background-image: url(/assets/pictures/banner.jpg);
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}