@charset 'UTF-8';

/* *** MAIN *** */
.main {
    margin: 1rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* *About page* */

.about {
    width: 60%;

    /* Media querie : mobile < 600px */
    @include xs {
        width: 90%;
        }

    @include max-sm {
        width: 95%;
    }

    & > div {

        display: flex;
        align-items: center;
        justify-content: center;

        /* Media querie : mobile < 600px */
        @include xs {
            flex-direction: column;
            }

        @include max-sm {
            flex-direction: column;
        }

        & > img {
            height: 15rem;
            width: auto;
        }
    
        & > p {
            padding: 2rem;
        }
    }
}

// ADMIN and USER HOMEPAGE

.back_home {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > p {
        text-align: left ;
    }

    & > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        & > a {
            padding: .5rem;
            margin: 1rem;
            width: 50%;
            height: 25%;
            background-color: #7148B8;
            text-align: center;

            @include xs {
                width: 90%;
                height: 50%;
            }
        }
    }
}