@charset 'UTF-8';

/* *** MAIN *** */
.main {
    margin: 1rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* *About page* */

.about {
    width: 60%;

    /* Media querie : mobile < 600px */
    @include xs {
        width: 90%;
        }

    @include max-sm {
        width: 95%;
    }

    & > div {

        display: flex;
        align-items: center;
        justify-content: center;

        /* Media querie : mobile < 600px */
        @include xs {
            flex-direction: column;
            }

        @include max-sm {
            flex-direction: column;
        }

        & > img {
            height: 15rem;
            width: auto;
        }
    
        & > p {
            padding: 2rem;
        }
    }
}

// ADMIN PAGES
.admin_block {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include xs {
        flex-direction: column;
    }

    @include max-sm {
        flex-direction: column;
    }

    .admin_menu {
        width: 20%;
        padding: 1rem;
        background-color: $color_dark_hf;

        @include xs {
            width: 80%;
        }
    
        @include max-sm {
            width: 80%;
        }
    
        li {
            list-style-type: none;
        }
    
        & > ul > ul > li {
            margin-left: 1.5rem;
        }
    }

    .admin_content {
        width: 80%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

