@charset 'UTF-8';

table {
    table-layout: auto;
    border-collapse: collapse;
    empty-cells: show;

    & > tbody > tr > td {
        @include xs {
            display: flex;
            flex-direction: column;
        }
    
        @include max-sm {
            display: flex;
            flex-direction: column;
        }
    }

    & > thead > tr > td {
        @include xs {
            display: flex;
            flex-direction: column;
        }
    
        @include max-sm {
            display: flex;
            flex-direction: column;
        }
    }
}

tr {
    border-bottom: 1px solid $color-light;
    vertical-align: middle;

    & > td {
        padding: 1rem;
    }
}

.total {
    text-align: right;
}