<!-- User Menu -->
<nav class="admin_menu">
    <h4>Menu espace client</h4>
    <ul>
        <li><a href="{{ path('user_profile') }}">Mes informations</a></li>
        <li><a href="{{ path('user_address') }}">Mes adresses</a></li>
        <li><a href="{{ path('user_order') }}">Mes commandes</a></li>
        <li><a href="{{ path('app_logout') }}">Me déconnecter</a></li>
    </ul>
</nav>