<!-- Admin Menu -->
<nav class="admin_menu">
    <h4>Dashboard</h4>
    <ul>
        <li><a href="#">Gestion du site</a></li>
            <ul>
                <li><a href="#">Gestion des produits</a></li>
                <li><a href="#">Gestion des avis lecteurs</a></li>
                <li><a href="#">Gestion des catégories</a></li>
                <li><a href="#">Gestion des types</a></li>
                <li><a href="#">Gestion des éditions</a></li>
            </ul>
        <li><a href="#">Gestion des commandes</a></li>
        <li><a href="#">Gestion des précommandes</a></li>
    </ul>
</nav>