<!-- FOOTER -->
<footer class="footer" role="contentinfo">
    <!-- Menu footer -->
    <ul class="footer_menu">
        <li><a href="">Mentions Légales</a></li>
        <li><a href="">Politique de confidentialité</a></li>
        <li><a href="">CGV</a></li>
        <li><a href="">Plan du site</a></li>
        <li><a href="">Contact</a></li>
    </ul>

    <!-- Footer copyright - author -->
    <div class="footer_copyright">
        <img src="{{ asset('pictures/logo_2_light.png') }}" alt="Logo de R. Oncedor">
        <!-- Copyright -->
        <p>© Copyright 2021 | R. Oncedor | Tous droits réservés</p>
    </div>
</footer>