{% extends 'base.html.twig' %}

{% block title %}Mentions Légales - R. Oncedor{% endblock %}

{% block main %}

<main class="main" role="main">
    <!-- breadcrumb's Thread -->
    <div class="breadcrumb_thread">
        <a href="{{ path('home') }}">Accueil</a>
        <p>></p>
        <a href="#" class="active">Mentions légales</a>
    </div>

    <div>
        <h1>Mentions légales</h1>
        <h2>Présentation du site</h2>
        <p><span>Propriétaire du site :</span> R. Oncedor (dénomination administrative : CARMEN BOUSQUET) – Inscrit sous
            le numéro 87809168500015 au registre des sociétés – 3 RUE DE TREMEAC 44100 NANTES FRANCE</p>
        <p><span>Responsable de publication :</span> Carmen Bousquet</p>
        <p><span>Création du site :</span> Coline Richer</p>
        <p><span>Hébergeur :</span> OVH – 2 rue Kellermann – 59100 Roubaix – France</p>

        <h2>Modification du site</h2>
        <p>Le directeur de la publication Carmen Bousquet se réserve le droit de modifier ou compléter le contenu de ce
            site, R. Oncedor, à tout moment, y compris ces mentions légales et la politique de confidentialité</p>

        <h2>Objet du site</h2>
        <p>Le site R. Oncedor donne des informations sur l’activité de R. Oncedor et vend ses produits en ligne.</p>
        <p>Le responsable de la publication, Carmen Bousquet, s’efforce de fournir des informations le plus à jour
            possible. Cependant celles-ci sont données à titre indicatif et peuvent évoluer.</p>

        <h2>Propriété intellectuelle</h2>
        <p>L’ensemble de ce site relève de la législation française et internationale sur le droit d’auteur et la
            propriété intellectuelle. Tous droits de reproduction sont réservés, y compris les représentations
            iconographiques et photographiques. La reproduction, l’adaptation et/ou traduction de tout ou partie de ce
            site sur un support quel qu’il soit, est formellement interdite sauf autorisation expresse du directeur de
            la publication Carmen Bousquet.</p>

        <h2>Limitations de responsabilité</h2>
        <p>Carmen Bousquet ne pourra être tenu responsable des dommages directs et indirects causés au matériel de
            l’utilisateur, lors de l’accès au site R. Oncedor</p>
        <p>Carmen Bousquet ne pourra également être tenue responsable des dommages indirects (tels par exemple qu’une
            perte de marché ou perte d’une chance) consécutifs à l’utilisation du site R. Oncedor.</p>
        <p>Le site R. Oncedor contient un certain nombre de liens hypertextes vers d’autres sites, mis en place avec
            l’autorisation de Carmen Bousquet. Cependant, Carmen Bousquet n’a pas la possibilité de vérifier le contenu
            des sites ainsi visités, et n’assumera en conséquence aucune responsabilité de ce fait.</p>
        <p>Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de
            maintenance technique peut être toutefois décidée par R. Oncedor, qui s’efforcera alors de communiquer
            préalablement aux utilisateurs les dates et heures de l’intervention.</p>
    </div>
</main>

{% endblock %}