{% extends 'base.html.twig' %}

    {% block main %}
        <main class="main" role="main">

            <!-- breadcrumb's Thread -->
            <div class="breadcrumb_thread">
                <a href="{{ path('home') }}">Accueil</a>
                <p>></p>
                <a href="{{ path('admin_product') }}">Administration</a>
                <p>></p>
                <a href="{{ path('admin_product') }}">Gestion des produits</a>
                <p>></p>
                <a href="#" class="active">Ajouter un produit</a>
            </div>

        <h1>Ajouter un produit</h1>
            {% include 'admin/includes_admin_form/_product_form.html.twig' %}
        </main>
    {% endblock %}