{% extends 'base.html.twig' %}

{% block main %}
    <!-- MAIN -->
    <main class="main" role="main">
        <!-- breadcrumb's Thread -->
        <div class="breadcrumb_thread">
            <a href="#">Accueil</a>
            <p>></p>
            <a href="#" class="active">Administration</a>
        </div>

        <div class="back_home">
            <h2>Administration du site</h2>
            <p>Bienvenue, Admin !</p>
            <div>
                <a href="#">Gestion des commandes</a>
                <a href="#">Gestion des produits</a>
                <a href="#">Gestion des précommandes</a>
            </div>
        </div>
    </main>
{% endblock %}

