@charset 'UTF-8';

@import 'includes/_variables';
@import 'includes/_reset';
@import 'includes/_commons';
@import 'includes/_header';
@import 'includes/_footer';
@import 'includes/_home';
@import 'includes/_breadcrumbs.scss';
@import 'includes/_main.scss';
@import 'includes/_forms.scss';
@import 'includes/_tab.scss';
@import 'includes/_alerts.scss';