{% extends 'base.html.twig' %}

{% block main %}
    <!-- MAIN -->
    <main class="main" role="main">
        <!-- breadcrumb's Thread -->
        <div class="breadcrumb_thread">
            <a href="#">Accueil</a>
            <p>></p>
            <a href="#" class="active">Espace utilisateur</a>
        </div>

        <div class="back_home">
            <h2>Espace utilisateur</h2>
            <p>Bienvenue, User !</p>
            <div>
                <a href="#">Mes informations</a>
                <a href="#">Mes commandes</a>
            </div>
        </div>
    </main>
{% endblock %}

