<h1>Message du formulaire de contact de dev-r-oncedor.fr</h1>

<p>Bonjour, R. Oncedor, il semblerait qu'un utilisateur ai envoyé un message via le formulaire de contact ! Le voici :
</p>

<div>
    <p>Nom : {{ formData.name }}</p>
    <p>Mail : {{ formData.email }}</p>
    <p>Message : {{ formData.message }}</p>
</div>