<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Import CSS -->
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <!-- Import Fonts -->
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/montserrat" type="text/css" />
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/constantine" type="text/css" />
</head>

<body {% block bodyclass %}{% endblock %}>
    {# Import Header #}
    {% block header %}
        {% include 'includes/_header.html.twig' %}
    {% endblock %}

    {% block main %}
    {% endblock %}

    {# Import Footer #}
    {% block footer %}
        {% include 'includes/_footer.html.twig' %}
    {% endblock %}
</body>

</html>

{# {% block stylesheets %} #}
    {#{{ encore_entry_link_tags('app') }}#}
{# {% endblock %} #}

{# {% block javascripts %} #}
    {#{{ encore_entry_script_tags('app') }}#}
{# {% endblock %} #}

