{% extends 'base.html.twig' %}

{% block title %}Erreur  - R. Oncedor{% endblock %}

{% block main %}

<main class="main" role="main">
    <h1>Erreur</h1>

    <p>
        Ouuups, on dirait que quelque chose s'est ma passé ou qu'il y ai un problème avec le site.
        <a href="{{ path('home') }}">Vous pouvez retourner sur l'accueil</a>
    </p>
</main>

{% endblock %}