{% extends 'base.html.twig' %}

{% block title %}Erreur 404 - R. Oncedor{% endblock %}

{% block main %}

<main class="main" role="main">
    <h1>Erreur, page non trouvée</h1>

    <p>
        Ouuups, après vérification de la bibliothèque de R. Oncedor, il semblerait que nous ne trouvions pas la page
        demandée...
        <a href="{{ path('home') }}">Mais vous pouvez retourner sur l'accueil</a>
    </p>
</main>

{% endblock %}