{% extends 'base.html.twig' %}

{% block title %}Erreur 403 - R. Oncedor{% endblock %}

{% block main %}

<main class="main" role="main">
    <h1>Erreur, accès non autorisé</h1>

    <p>
        Et bien, on dirait que vous n'avez pas le droit d'accèder à cette partie de la bibliothèque de R. Oncedor !
        <a href="{{ path('home') }}">Mais vous pouvez retourner sur l'accueil</a>
    </p>
</main>

{% endblock %}