<h1>R. Oncedor - Confirmer votre email</h1>

<p>
    Bonjour ! <br />
    Vous avez créer un compte sur le site de R. Oncedor ! <br />
    Merci de confirmer votre adresse mail en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon email</a>.
    Attention ! Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bravo et merci !
</p>
